Plugins>ImageJ on GPU (CLIJ),                      "-",                                             null
Plugins>ImageJ on GPU (CLIJ),                      "CLIJ Version 1.9.0.0-BETA (deprecated)",                            null

Plugins>ImageJ on GPU (CLIJ)>Macro tools,          "CLIJ ClInfo",                                   net.haesleinhuepf.clij.macro.modules.ClInfo
Plugins>ImageJ on GPU (CLIJ)>Macro tools,          "CLIJ Debug on/off",                             net.haesleinhuepf.clij.utilities.DebugToggle

