Plugins>ImageJ on GPU (CLIJ),      "-",                                              null

Plugins>ImageJ on GPU (CLIJ)>Image calculation,    "Absolute on GPU", net.haesleinhuepf.imagej.macro.modules.Absolute
Plugins>ImageJ on GPU (CLIJ)>Image calculation,    "AddPixelwise on GPU", net.haesleinhuepf.imagej.macro.modules.AddPixelwise

Plugins>ImageJ on GPU (CLIJ)>Image calculation,    "AddScalar on GPU", net.haesleinhuepf.imagej.macro.modules.AddScalar
Plugins>ImageJ on GPU (CLIJ)>Image calculation,    "AddWeightedPixelwise on GPU", net.haesleinhuepf.imagej.macro.modules.AddWeightedPixelwise
Plugins>ImageJ on GPU (CLIJ)>Projections,          "ArgMaxProjection on GPU", net.haesleinhuepf.imagej.macro.modules.ArgMaxProjection

Plugins>ImageJ on GPU (CLIJ)>Binary,               "BinaryAnd on GPU", net.haesleinhuepf.imagej.macro.modules.BinaryAnd
Plugins>ImageJ on GPU (CLIJ)>Binary,               "BinaryNot on GPU", net.haesleinhuepf.imagej.macro.modules.BinaryNot
Plugins>ImageJ on GPU (CLIJ)>Binary,               "BinaryOr on GPU", net.haesleinhuepf.imagej.macro.modules.BinaryOr

Plugins>ImageJ on GPU (CLIJ)>Filter,               "Blur2D on GPU", net.haesleinhuepf.imagej.macro.modules.Blur2D
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Blur2DSeparable on GPU", net.haesleinhuepf.imagej.macro.modules.Blur2DSeparable
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Blur3D on GPU", net.haesleinhuepf.imagej.macro.modules.Blur3D
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Blur3DSeparable on GPU", net.haesleinhuepf.imagej.macro.modules.Blur3DSeparable
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Blur3DSliceBySlice on GPU", net.haesleinhuepf.imagej.macro.modules.Blur3DSliceBySlice

Plugins>ImageJ on GPU (CLIJ),                      "Clear GPU memory", net.haesleinhuepf.imagej.macro.modules.Clear
Plugins>ImageJ on GPU (CLIJ)>Transform,            "Copy on GPU", net.haesleinhuepf.imagej.macro.modules.Copy
Plugins>ImageJ on GPU (CLIJ)>Transform,            "CopySlice on GPU", net.haesleinhuepf.imagej.macro.modules.CopySlice
Plugins>ImageJ on GPU (CLIJ)>Transform,            "Crop2D on GPU", net.haesleinhuepf.imagej.macro.modules.Crop2D
Plugins>ImageJ on GPU (CLIJ)>Transform,            "Crop3D on GPU", net.haesleinhuepf.imagej.macro.modules.Crop3D
Plugins>ImageJ on GPU (CLIJ)>Detection,            "DetectMaxima on GPU", net.haesleinhuepf.imagej.macro.modules.DetectMaxima
Plugins>ImageJ on GPU (CLIJ)>Detection,            "DetectMaximaSliceBySlice on GPU", net.haesleinhuepf.imagej.macro.modules.DetectMaximaSliceBySlice
Plugins>ImageJ on GPU (CLIJ)>Detection,            "DetectMinima on GPU", net.haesleinhuepf.imagej.macro.modules.DetectMinima
Plugins>ImageJ on GPU (CLIJ)>Binary,               "Dilate on GPU", net.haesleinhuepf.imagej.macro.modules.Dilate
Plugins>ImageJ on GPU (CLIJ)>Image calculation,    "DividePixelwise on GPU", net.haesleinhuepf.imagej.macro.modules.DividePixelwise
Plugins>ImageJ on GPU (CLIJ)>Transform,            "Downsample2D on GPU", net.haesleinhuepf.imagej.macro.modules.Downsample2D
Plugins>ImageJ on GPU (CLIJ)>Transform,            "Downsample3D on GPU", net.haesleinhuepf.imagej.macro.modules.Downsample3D
Plugins>ImageJ on GPU (CLIJ)>Transform,            "DownsampleSliceBySliceHalfMedian on GPU", net.haesleinhuepf.imagej.macro.modules.DownsampleSliceBySliceHalfMedian
Plugins>ImageJ on GPU (CLIJ)>Binary,               "Erode on GPU", net.haesleinhuepf.imagej.macro.modules.Erode
Plugins>ImageJ on GPU (CLIJ)>Transform,            "Flip2d on GPU", net.haesleinhuepf.imagej.macro.modules.Flip2D
Plugins>ImageJ on GPU (CLIJ)>Transform,            "Flip3d on GPU", net.haesleinhuepf.imagej.macro.modules.Flip3D
Plugins>ImageJ on GPU (CLIJ),                      "Help on GPU", net.haesleinhuepf.imagej.macro.modules.Help
Plugins>ImageJ on GPU (CLIJ)>Image calculation,    "Invert on GPU", net.haesleinhuepf.imagej.macro.modules.Invert
Plugins>ImageJ on GPU (CLIJ)>Binary,               "InvertBinary on GPU", net.haesleinhuepf.imagej.macro.modules.InvertBinary
Plugins>ImageJ on GPU (CLIJ)>Threshold,            "LocalThreshold on GPU", net.haesleinhuepf.imagej.macro.modules.LocalThreshold
Plugins>ImageJ on GPU (CLIJ)>Binary,               "Mask on GPU", net.haesleinhuepf.imagej.macro.modules.Mask
Plugins>ImageJ on GPU (CLIJ)>Binary,               "MaskStackWithPlane on GPU", net.haesleinhuepf.imagej.macro.modules.MaskStackWithPlane
Plugins>ImageJ on GPU (CLIJ)>Image calculation,    "MaxPixelwise on GPU", net.haesleinhuepf.imagej.macro.modules.MaxPixelwise
Plugins>ImageJ on GPU (CLIJ)>Image calculation,    "MaxPixelwiseScalar on GPU", net.haesleinhuepf.imagej.macro.modules.MaxPixelwiseScalar
Plugins>ImageJ on GPU (CLIJ)>Projections,          "MaxProjection on GPU", net.haesleinhuepf.imagej.macro.modules.MaxProjection
Plugins>ImageJ on GPU (CLIJ)>Projections,          "MaxProjectionDimSelect on GPU", net.haesleinhuepf.imagej.macro.modules.MaxProjectionDimSelect
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Maximum2D on GPU", net.haesleinhuepf.imagej.macro.modules.Maximum2D
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Maximum2DMooreNeighborhood on GPU", net.haesleinhuepf.imagej.macro.modules.Maximum2DMooreNeighborhood
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Maximum3D on GPU", net.haesleinhuepf.imagej.macro.modules.Maximum3D
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Maximum3DMooreNeighborhood on GPU", net.haesleinhuepf.imagej.macro.modules.Maximum3DMooreNeighborhood
Plugins>ImageJ on GPU (CLIJ)>Filter,               "MaximumSliceBySlice on GPU", net.haesleinhuepf.imagej.macro.modules.MaximumSliceBySlice
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Mean2D on GPU", net.haesleinhuepf.imagej.macro.modules.Mean2D
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Mean2DIJ on GPU", net.haesleinhuepf.imagej.macro.modules.Mean2DIJ
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Mean2DMooreNeighborhood on GPU", net.haesleinhuepf.imagej.macro.modules.Mean2DMooreNeighborhood
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Mean3D on GPU", net.haesleinhuepf.imagej.macro.modules.Mean3D()
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Mean3DMooreNeighborhood on GPU", net.haesleinhuepf.imagej.macro.modules.Mean3DMooreNeighborhood
Plugins>ImageJ on GPU (CLIJ)>Filter,               "MeanSliceBySlice on GPU", net.haesleinhuepf.imagej.macro.modules.MeanSliceBySlice
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Median2D on GPU", net.haesleinhuepf.imagej.macro.modules.Median2D
Plugins>ImageJ on GPU (CLIJ)>Filter,               "MedianSliceBySlice on GPU", net.haesleinhuepf.imagej.macro.modules.MedianSliceBySlice
Plugins>ImageJ on GPU (CLIJ)>Image calculation,    "MinPixelwise on GPU", net.haesleinhuepf.imagej.macro.modules.MinPixelwise
Plugins>ImageJ on GPU (CLIJ)>Image calculation,    "MinPixelwiseScalar on GPU", net.haesleinhuepf.imagej.macro.modules.MinPixelwiseScalar
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Minimum2D on GPU", net.haesleinhuepf.imagej.macro.modules.Minimum2D
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Minimum2DMooreNeighborhood on GPU", net.haesleinhuepf.imagej.macro.modules.Minimum2DMooreNeighborhood
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Minimum3D on GPU", net.haesleinhuepf.imagej.macro.modules.Minimum3D
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Minimum3DMooreNeighborhood on GPU", net.haesleinhuepf.imagej.macro.modules.Minimum3DMooreNeighborhood
Plugins>ImageJ on GPU (CLIJ)>Filter,               "MinimumSliceBySlice on GPU", net.haesleinhuepf.imagej.macro.modules.MinimumSliceBySlice
Plugins>ImageJ on GPU (CLIJ)>Image calculation,    "MultiplyPixelwise on GPU", net.haesleinhuepf.imagej.macro.modules.MultiplyPixelwise
Plugins>ImageJ on GPU (CLIJ)>Image calculation,    "MultiplyScalar on GPU", net.haesleinhuepf.imagej.macro.modules.MultiplyScalar
Plugins>ImageJ on GPU (CLIJ)>Image calculation,    "MultiplyStackWithPlane on GPU", net.haesleinhuepf.imagej.macro.modules.MultiplyStackWithPlane
Plugins>ImageJ on GPU (CLIJ)>Image calculation,    "Power on GPU", net.haesleinhuepf.imagej.macro.modules.Power
Plugins>ImageJ on GPU (CLIJ),                      "Pull from GPU", net.haesleinhuepf.imagej.macro.modules.Pull
Plugins>ImageJ on GPU (CLIJ),                      "Push to GPU", net.haesleinhuepf.imagej.macro.modules.Push
Plugins>ImageJ on GPU (CLIJ),                      "Release", net.haesleinhuepf.imagej.macro.modules.Release
Plugins>ImageJ on GPU (CLIJ),                      "Report about GPU memory usage", net.haesleinhuepf.imagej.macro.modules.ReportMemory
Plugins>ImageJ on GPU (CLIJ)>Transform,            "ResliceBottom on GPU", net.haesleinhuepf.imagej.macro.modules.ResliceBottom
Plugins>ImageJ on GPU (CLIJ)>Transform,            "ResliceLeft on GPU", net.haesleinhuepf.imagej.macro.modules.ResliceLeft
Plugins>ImageJ on GPU (CLIJ)>Transform,            "ResliceRight on GPU", net.haesleinhuepf.imagej.macro.modules.ResliceRight
Plugins>ImageJ on GPU (CLIJ)>Transform,            "ResliceTop on GPU", net.haesleinhuepf.imagej.macro.modules.ResliceTop
Plugins>ImageJ on GPU (CLIJ)>Transform,            "RotateLeft on GPU", net.haesleinhuepf.imagej.macro.modules.RotateLeft
Plugins>ImageJ on GPU (CLIJ)>Transform,            "RotateRight on GPU", net.haesleinhuepf.imagej.macro.modules.RotateRight
Plugins>ImageJ on GPU (CLIJ)>Image calculation,    "Set on GPU", net.haesleinhuepf.imagej.macro.modules.Set
Plugins>ImageJ on GPU (CLIJ)>Projections,          "SumProjection on GPU", net.haesleinhuepf.imagej.macro.modules.SumProjection
Plugins>ImageJ on GPU (CLIJ)>Threshold,            "Threshold on GPU", net.haesleinhuepf.imagej.macro.modules.Threshold
