Plugins>ImageJ on GPU (CLIJ)>Image calculation,    "Absolute of an image on GPU",                   net.haesleinhuepf.clij.macro.modules.Absolute
Plugins>ImageJ on GPU (CLIJ)>Image calculation,    "Add two images on GPU",                         net.haesleinhuepf.clij.macro.modules.AddImages
Plugins>ImageJ on GPU (CLIJ)>Image calculation,    "Add image and scalar on GPU",                   net.haesleinhuepf.clij.macro.modules.AddImageAndScalar
Plugins>ImageJ on GPU (CLIJ)>Image calculation,    "Add two weighted images on GPU",                net.haesleinhuepf.clij.macro.modules.AddImagesWeighted
Plugins>ImageJ on GPU (CLIJ)>Image calculation,    "Multiply one image by another on GPU",          net.haesleinhuepf.clij.macro.modules.MultiplyImages
Plugins>ImageJ on GPU (CLIJ)>Image calculation,    "Multiply image and scalar on GPU",              net.haesleinhuepf.clij.macro.modules.MultiplyImageAndScalar
Plugins>ImageJ on GPU (CLIJ)>Image calculation,    "Multiply 3D image with 2D image on GPU",        net.haesleinhuepf.clij.macro.modules.MultiplyStackWithPlane
Plugins>ImageJ on GPU (CLIJ)>Image calculation,    "Divide one image by another on GPU",            net.haesleinhuepf.clij.macro.modules.DivideImages
Plugins>ImageJ on GPU (CLIJ)>Image calculation,    "Invert image on GPU",                           net.haesleinhuepf.clij.macro.modules.Invert
Plugins>ImageJ on GPU (CLIJ)>Image calculation,    "-",                                             null
Plugins>ImageJ on GPU (CLIJ)>Image calculation,    "Power image by an exponent on GPU",             net.haesleinhuepf.clij.macro.modules.Power
Plugins>ImageJ on GPU (CLIJ)>Image calculation,    "Set all pixels of an image on GPU",             net.haesleinhuepf.clij.macro.modules.Set
Plugins>ImageJ on GPU (CLIJ)>Image calculation,    "-",                                             null
Plugins>ImageJ on GPU (CLIJ)>Image calculation,    "Minimum of two images on GPU",                  net.haesleinhuepf.clij.macro.modules.MinimumImages
Plugins>ImageJ on GPU (CLIJ)>Image calculation,    "Minimum of image and scalar on GPU",            net.haesleinhuepf.clij.macro.modules.MinimumImageAndScalar
Plugins>ImageJ on GPU (CLIJ)>Image calculation,    "Maximum of two images on GPU",                  net.haesleinhuepf.clij.macro.modules.MaximumImages
Plugins>ImageJ on GPU (CLIJ)>Image calculation,    "Maximum of image and scalar on GPU",            net.haesleinhuepf.clij.macro.modules.MaximumImageAndScalar

Plugins>ImageJ on GPU (CLIJ)>Projections,          "Mean-Z-projection on GPU",                      net.haesleinhuepf.clij.macro.modules.MeanZProjection
Plugins>ImageJ on GPU (CLIJ)>Projections,          "Minimum-Z-projection on GPU",                   net.haesleinhuepf.clij.macro.modules.MinimumZProjection
Plugins>ImageJ on GPU (CLIJ)>Projections,          "Maximum-Z-projection on GPU",                   net.haesleinhuepf.clij.macro.modules.MaximumZProjection
Plugins>ImageJ on GPU (CLIJ)>Projections,          "Sum-Z-projection on GPU",                       net.haesleinhuepf.clij.macro.modules.SumZProjection
Plugins>ImageJ on GPU (CLIJ)>Projections,          "-",                                             null
Plugins>ImageJ on GPU (CLIJ)>Projections,          "Maximum-X/Y/Z-projection on GPU",               net.haesleinhuepf.clij.macro.modules.MaximumXYZProjection
Plugins>ImageJ on GPU (CLIJ)>Projections,          "ArgMaximum-Z-projection on GPU",                net.haesleinhuepf.clij.macro.modules.ArgMaximumZProjection

Plugins>ImageJ on GPU (CLIJ)>Binary,               "Binary And on GPU",                             net.haesleinhuepf.clij.macro.modules.BinaryAnd
Plugins>ImageJ on GPU (CLIJ)>Binary,               "Binary Not on GPU",                             net.haesleinhuepf.clij.macro.modules.BinaryNot
Plugins>ImageJ on GPU (CLIJ)>Binary,               "Binary Or on GPU",                              net.haesleinhuepf.clij.macro.modules.BinaryOr
Plugins>ImageJ on GPU (CLIJ)>Binary,               "Binary XOr on GPU",                             net.haesleinhuepf.clij.macro.modules.BinaryXOr
Plugins>ImageJ on GPU (CLIJ)>Binary,               "-",                                             null
Plugins>ImageJ on GPU (CLIJ)>Binary,               "Erode Moore-neighborhood like ImageJ on GPU",               net.haesleinhuepf.clij.macro.modules.ErodeBoxIJ
Plugins>ImageJ on GPU (CLIJ)>Binary,               "Erode von-Neuman-neighborhood like ImageJ on GPU",               net.haesleinhuepf.clij.macro.modules.ErodeSphere
Plugins>ImageJ on GPU (CLIJ)>Binary,               "Dilate Moore-neighborhood like ImageJ on GPU",              net.haesleinhuepf.clij.macro.modules.DilateBoxIJ
Plugins>ImageJ on GPU (CLIJ)>Binary,               "Dilate von-Neuman-neighborhood on GPU",              net.haesleinhuepf.clij.macro.modules.DilateSphere
Plugins>ImageJ on GPU (CLIJ)>Binary,               "-",                                             null
Plugins>ImageJ on GPU (CLIJ)>Binary,               "Mask image on GPU",                             net.haesleinhuepf.clij.macro.modules.Mask
Plugins>ImageJ on GPU (CLIJ)>Binary,               "Mask an 3D image with a 2D mask on GPU",        net.haesleinhuepf.clij.macro.modules.MaskStackWithPlane

Plugins>ImageJ on GPU (CLIJ)>Filter,               "Blur2D on GPU",                                 net.haesleinhuepf.clij.macro.modules.Blur2D
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Blur2D (fast) on GPU",                          net.haesleinhuepf.clij.macro.modules.Blur2DFast
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Blur3D on GPU",                                 net.haesleinhuepf.clij.macro.modules.Blur3D
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Blur3D (fast) on GPU",                          net.haesleinhuepf.clij.macro.modules.Blur3DFast
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Blur3D slice by slice on GPU",                  net.haesleinhuepf.clij.macro.modules.Blur3DSliceBySlice
Plugins>ImageJ on GPU (CLIJ)>Filter,               "-",                                             null
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Median 2D in a sphere on GPU",                  net.haesleinhuepf.clij.macro.modules.Median2DSphere
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Median 3D in a sphere on GPU",                  net.haesleinhuepf.clij.macro.modules.Median3DSphere
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Median slice by slice in a sphere on GPU",      net.haesleinhuepf.clij.macro.modules.MedianSliceBySliceSphere
Plugins>ImageJ on GPU (CLIJ)>Filter,               "-",                                             null
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Mean 2D like ImageJ on GPU",                    net.haesleinhuepf.clij.macro.modules.Mean2DIJ
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Mean 2D in a sphere on GPU",                    net.haesleinhuepf.clij.macro.modules.Mean2DSphere
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Mean 2D in a box on GPU",                       net.haesleinhuepf.clij.macro.modules.Mean2DBox
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Mean 3D in a sphere on GPU",                    net.haesleinhuepf.clij.macro.modules.Mean3DSphere()
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Mean 3D in a box on GPU",                       net.haesleinhuepf.clij.macro.modules.Mean3DBox
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Mean slice by slice in a sphere on GPU",        net.haesleinhuepf.clij.macro.modules.MeanSliceBySliceSphere
Plugins>ImageJ on GPU (CLIJ)>Filter,               "-",                                             null
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Minimum 2D like ImageJ on GPU",                 net.haesleinhuepf.clij.macro.modules.Minimum2DIJ
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Minimum 2D in a sphere on GPU",                 net.haesleinhuepf.clij.macro.modules.Minimum2DSphere
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Minimum 2D in a box on GPU",                    net.haesleinhuepf.clij.macro.modules.Minimum2DBox
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Minimum 3D in a sphere on GPU",                 net.haesleinhuepf.clij.macro.modules.Minimum3DSphere
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Minimum 3D in a box on GPU",                    net.haesleinhuepf.clij.macro.modules.Minimum3DBox
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Minimum slice by slice in a sphere on GPU",     net.haesleinhuepf.clij.macro.modules.MinimumSliceBySliceSphere
Plugins>ImageJ on GPU (CLIJ)>Filter,               "-",                                             null
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Maximum 2D like ImageJ on GPU",                 net.haesleinhuepf.clij.macro.modules.Maximum2DIJ
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Maximum 2D in a sphere on GPU",                 net.haesleinhuepf.clij.macro.modules.Maximum2DSphere
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Maximum 2D in a box on GPU",                    net.haesleinhuepf.clij.macro.modules.Maximum2DBox
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Maximum 3D in a sphere on GPU",                 net.haesleinhuepf.clij.macro.modules.Maximum3DSphere
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Maximum 3D in a box on GPU",                    net.haesleinhuepf.clij.macro.modules.Maximum3DBox
Plugins>ImageJ on GPU (CLIJ)>Filter,               "Maximum slice by slice in a sphere on GPU",     net.haesleinhuepf.clij.macro.modules.MaximumSliceBySliceSphere

Plugins>ImageJ on GPU (CLIJ)>Detection,            "Detect maxima in a box on GPU",                 net.haesleinhuepf.clij.macro.modules.DetectMaximaBox
Plugins>ImageJ on GPU (CLIJ)>Detection,            "Detect maxima slice by slice in a box on GPU",  net.haesleinhuepf.clij.macro.modules.DetectMaximaSliceBySliceBox
Plugins>ImageJ on GPU (CLIJ)>Detection,            "Detect minima on GPU",                          net.haesleinhuepf.clij.macro.modules.DetectMinimaBox
Plugins>ImageJ on GPU (CLIJ)>Detection,            "Detect minima slice by slice in a box on GPU",  net.haesleinhuepf.clij.macro.modules.DetectMinimaSliceBySliceBox

Plugins>ImageJ on GPU (CLIJ)>Threshold,            "Apply a threshold like ImageJ on GPU",                      net.haesleinhuepf.clij.macro.modules.ThresholdIJ
Plugins>ImageJ on GPU (CLIJ)>Threshold,            "Apply local threshold on GPU",                  net.haesleinhuepf.clij.macro.modules.LocalThreshold

Plugins>ImageJ on GPU (CLIJ)>Transform,            "Copy on GPU",                                   net.haesleinhuepf.clij.macro.modules.Copy
Plugins>ImageJ on GPU (CLIJ)>Transform,            "Copy slice on GPU",                             net.haesleinhuepf.clij.macro.modules.CopySlice
Plugins>ImageJ on GPU (CLIJ)>Transform,            "Crop 2D on GPU",                                net.haesleinhuepf.clij.macro.modules.Crop2D
Plugins>ImageJ on GPU (CLIJ)>Transform,            "Crop 3D on GPU",                                net.haesleinhuepf.clij.macro.modules.Crop3D
Plugins>ImageJ on GPU (CLIJ)>Transform,            "-",                                             null
Plugins>ImageJ on GPU (CLIJ)>Transform,            "Downsample 2D on GPU",                          net.haesleinhuepf.clij.macro.modules.Downsample2D
Plugins>ImageJ on GPU (CLIJ)>Transform,            "Downsample 3D on GPU",                          net.haesleinhuepf.clij.macro.modules.Downsample3D
Plugins>ImageJ on GPU (CLIJ)>Transform,            "-",                                             null
Plugins>ImageJ on GPU (CLIJ)>Transform,            "Flip 2D image on GPU",                          net.haesleinhuepf.clij.macro.modules.Flip2D
Plugins>ImageJ on GPU (CLIJ)>Transform,            "Flip 3D image on GPU",                          net.haesleinhuepf.clij.macro.modules.Flip3D
Plugins>ImageJ on GPU (CLIJ)>Transform,            "-",                                             null
Plugins>ImageJ on GPU (CLIJ)>Transform,            "Reslice image from bottom on GPU",              net.haesleinhuepf.clij.macro.modules.ResliceBottom
Plugins>ImageJ on GPU (CLIJ)>Transform,            "Reslice image from left on GPU",                net.haesleinhuepf.clij.macro.modules.ResliceLeft
Plugins>ImageJ on GPU (CLIJ)>Transform,            "Reslice image from right on GPU",               net.haesleinhuepf.clij.macro.modules.ResliceRight
Plugins>ImageJ on GPU (CLIJ)>Transform,            "Reslice image from top on GPU",                 net.haesleinhuepf.clij.macro.modules.ResliceTop
Plugins>ImageJ on GPU (CLIJ)>Transform,            "Reslice image radial on GPU",                   net.haesleinhuepf.clij.macro.modules.ResliceRadial
Plugins>ImageJ on GPU (CLIJ)>Transform,            "-",                                             null
Plugins>ImageJ on GPU (CLIJ)>Transform,            "Rotate image counter clockwise on GPU",         net.haesleinhuepf.clij.macro.modules.RotateLeft
Plugins>ImageJ on GPU (CLIJ)>Transform,            "Rotate image clockwise on GPU",                 net.haesleinhuepf.clij.macro.modules.RotateRight

Plugins>ImageJ on GPU (CLIJ)>Measure,              "Sum all pixels on GPU",                         net.haesleinhuepf.clij.macro.modules.SumOfAllPixels
Plugins>ImageJ on GPU (CLIJ)>Measure,              "Mean of all pixels on GPU",                     net.haesleinhuepf.clij.macro.modules.MeanOfAllPixels
Plugins>ImageJ on GPU (CLIJ)>Measure,              "Minimum of all pixels on GPU",                  net.haesleinhuepf.clij.macro.modules.MinimumOfAllPixels
Plugins>ImageJ on GPU (CLIJ)>Measure,              "Maximum of all pixels on GPU",                  net.haesleinhuepf.clij.macro.modules.MaximumOfAllPixels

Plugins>ImageJ on GPU (CLIJ),                      "-",                                             null
Plugins>ImageJ on GPU (CLIJ),                      "CLIJ Online help",                              net.haesleinhuepf.clij.macro.documentation.OnlineDocumentationOpener("https://clij.github.io/clij-docs/")
Plugins>ImageJ on GPU (CLIJ),                      "CLIJ Macro functions reference",                net.haesleinhuepf.clij.macro.documentation.OnlineDocumentationOpener("https://clij.github.io/clij-docs/reference")

Plugins>ImageJ on GPU (CLIJ)>Macro tools,          "CLIJ ClInfo",                                   net.haesleinhuepf.clij.macro.modules.ClInfo
Plugins>ImageJ on GPU (CLIJ)>Macro tools,          "CLIJ Debug on/off",                             net.haesleinhuepf.clij.utilities.DebugToggle
Plugins>ImageJ on GPU (CLIJ)>Macro tools,          "Clear GPU memory",                              net.haesleinhuepf.clij.macro.modules.Clear
Plugins>ImageJ on GPU (CLIJ)>Macro tools,          "Release single image from GPU memory",          net.haesleinhuepf.clij.macro.modules.Release
Plugins>ImageJ on GPU (CLIJ)>Macro tools,          "Report about GPU memory usage",                 net.haesleinhuepf.clij.macro.modules.ReportMemory

